@import "tailwindcss";

:root {
  --background: #D2EBD0;
  --foreground: #171717;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
